@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #030712;
    color: #e5e7eb;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
